* {
    font: "Iosevka Nerd Font 10";
	  icon-theme: "Font Awesome 5 Pro";

    theme-background:     env(THEME_BACKGROUND, #1E2127);
    theme-background1:    env(THEME_BACKGROUND_ALT, #282B31);
    theme-foreground:     env(THEME_FOREGROUND, #FFFFFF);
    theme-selected:       env(THEME_SELECTED, #61AFEF);
    theme-active:         env(THEME_ACTIVE, #98C379);
    theme-urgent:         env(THEME_URGENT, #E06C75);
}
