[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "modules/nvim"]
	path = modules/nvim
	url = git@github.com:VladaTrefil/nvim.git
	branch = main
