@import "../variables.scss";

.bar {
  padding: 15px 15px 0;

  &__inner {
    background-color: $background;
    padding: 8px 0;
    border-radius: 10px;
  }
}

@import "./widgets.scss";
@import "./windows.scss";
