@import '../variables.scss';

.bar {
  padding: $m * 3;
  padding-bottom: 0;
  background-color: transparent;

  &__inner {
    background-color: $background;
    padding: $m * 2;
    border-radius: 10px;
    font-size: $font-size;
    color: $fg;
  }
}

@import './widgets.scss';
@import './windows.scss';
