$widget-icon-padding: $m * 2 $m * 3 $m * 2 $m * 4;
$widget-row-padding: $m * 2 $m * 4 $m * 2 $m * 4;

@mixin widget {
  background-color: $background;
  border-radius: 10px;
  margin: 0 $m * 2;
}

@mixin widget-icon {
  @include widget;
  padding: $widget-icon-padding;
}

@mixin widget-row {
  @include widget;
  padding: $widget-row-padding;
}

.mediaplayer {
  border-radius: 10px;
  margin: 0 $m * 2;
  padding: 0;
  background: $border-color;

  &__body {
    @include widget-row;
    padding-top: 6px;
    padding-bottom: 0;
    padding-left: $m * 3;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 200px;
  }

  &__cover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__title {
    font-size: $bar-icon-size * 0.8;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: $light-pink;
  }

  &__body-progress {
    margin-top: 2px;
  }

  &__current-time,
  &__duration,
  &__artist {
    font-size: $bar-icon-size * 0.6;
    color: $fg1;
  }

  &__current-time,
  &__duration {
    font-weight: bold;
  }

  &__current-time {
    color: $fg;
  }

  &__sep {
    margin: 1px $m 0;
    font-size: $font-size * 0.5;
  }

  &__bar {
    margin-top: 5px;
    margin-bottom: 2px;

    trough {
      background: desaturate(darken($light-pink, 40%), 70%);
      min-height: 2px;
    }

    progress {
      background: $light-pink;
      min-height: 2px;
    }
  }
}

.workspace {
  @include widget-row;
  font-size: $bar-icon-size-lg * 1.1;
  font-weight: normal;
  background-color: $background;

  &__button {
    color: $gray;
    margin: 0 $m * 1.5;

    &--occupied {
      color: rgba($blue, 0.8);
    }

    &--focused {
      color: $blue;
    }
  }
}

.audio {
  @include widget-icon;
  padding: 0;
  color: $purple;

  &__button {
    padding: $m * 2 $m * 4 $m * 2 $m * 5;
    font-family: $awesome;
    font-size: $bar-icon-size * 0.95;
  }

  &--muted {
    color: $red;
    padding-right: 7px;
  }

  &__bar {
    trough {
      background: desaturate(darken($purple, 40%), 70%);
      border-radius: 20px;
      min-width: 7px;
      min-height: 30px;
    }

    progress {
      background: $purple;
      border-radius: 20px;
    }
  }
}

.bluetooth {
  @include widget-icon;

  &__icon {
    font-family: $awesome;
    font-size: $bar-icon-size;
    color: $blue-bt;
    padding: 0 $m * 2 0 $m * 1;
  }
}

.system-widget {
  @include widget-row;
  padding-left: $m * 2;

  &__circle {
    background-color: $background;
    border-radius: 15px;
    margin: 0 $m * 2;
  }

  &__bar {
    background-color: $bar-color;
    border-radius: 10px;
  }

  &__icon {
    font-size: $bar-icon-size * 0.65;
    margin: $m * 2;
  }

  .system-widget-cpu &__bar,
  .system-widget-cpu &__icon {
    color: $red-500;
  }

  .system-widget-cpu &__icon {
    margin-top: $m * 2;
  }

  .system-widget-memory &__bar,
  .system-widget-memory &__icon {
    color: $red-400;
  }

  .system-widget-disk &__bar,
  .system-widget-disk &__icon {
    color: $red-300;
  }

  .system-widget-disk &__icon {
    margin-top: $m * 2;
    margin-right: $m * 2;
  }
}

.network {
  @include widget-row;

  &__down {
    margin-right: $m * 3;
  }

  &__icon {
    font-family: $awesome;
    margin-right: $m * 2;
    margin-top: -3px;
  }

  &__down &__icon {
    color: $green;
  }

  &__up &__icon {
    color: $blue;
  }
}

.language {
  @include widget-icon;
  border: 5px solid $background;

  &--jap {
    border: 5px solid $red;
  }

  &--cze {
    border: 5px solid $blue;
  }

  &__image {
    padding-right: $m;
  }

  &__label {
    margin-left: $m * 3;
  }
}

.clock {
  @include widget-row;

  &__sep {
    font-size: $font-size * 1.2;
    margin: 0 $m 1px;
    color: $gray;
  }

  &__time,
  &__minute {
    font-size: $font-size-lg * 1.5;
  }

  &__time {
    font-weight: bold;
  }

  &__date {
    font-size: $font-size-lg;
    margin-left: $m * 4;
    color: $light-pink;
  }
}
