$widget-icon-padding: $m * 2 $m * 3 $m * 2 $m * 4;
$widget-row-padding: $m * 2 $m * 4 $m * 2 $m * 4;

@mixin widget {
  background-color: $background;
  border-radius: 10px;
  margin: 0 $m;
}

@mixin widget-icon {
  @include widget;
  padding: $widget-icon-padding;
}

@mixin widget-row {
  @include widget;
  padding: $widget-row-padding;
}

.mediaplayer {
  border-radius: 10px;
  margin: 0 $m;
  padding: 0;
  background: $border-color;

  &__status,
  &__body {
    @include widget-row;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__body {
    border-radius: 0;
    margin-left: 0;
    padding-left: $m * 5;
    padding-left: $m * 3;
  }

  &__status {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
  }

  &__cover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__title {
    font-size: $bar-icon-size * 0.8;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: $light-pink;
  }

  &__artist {
    font-size: $bar-icon-size * 0.6;
    color: $fg1;
  }

  &__current-time,
  &__duration {
    font-size: $font-size-lg;
    font-weight: bold;
  }

  &__sep {
    font-size: $font-size * 0.7;
    margin: 0 $m * 2 1px;
    color: $gray;
  }

  &__duration {
    color: $fg1;
  }

  &__button {
    font-family: $awesome;
    font-size: $bar-icon-size * 0.8;
    margin: 0;

    &-prev {
      margin-right: $m * 3;
    }

    &-next {
      margin-left: $m * 3;
    }
  }
}

.workspace {
  @include widget-row;
  font-size: $bar-icon-size-lg * 1.1;
  font-weight: normal;
  margin-left: $m * 3;
  background-color: $background;

  &__button {
    color: $gray;
    margin: 0 $m * 1.5;

    &--occupied {
      color: rgba($blue, 0.8);
    }

    &--focused {
      color: $blue;
    }
  }
}

.volume {
  &__icon {
    font-family: $awesome;
    font-size: $bar-icon-size * 0.95;
    margin: 0px $m;
    color: $blue-faint;
  }

  &__bar trough highlight {
    background: $blue;
    border-radius: 10px;
  }
}

.bluetooth {
  &__icon {
    font-family: $awesome;
    font-size: $bar-icon-size;
    color: $blue-bt;
    padding: 0 $m * 2 0 $m * 1;
  }
}

.system-widget {
  @include widget-row;

  &__circle {
    background-color: $background;
    border-radius: 15px;
    margin: 0 $m * 2;
  }

  &__bar {
    background-color: $bar-color;
    border-radius: 10px;
  }

  &__icon {
    font-size: $bar-icon-size * 0.65;
    margin: $m * 2;
  }

  .system-widget-cpu &__bar,
  .system-widget-cpu &__icon {
    color: $red-500;
  }

  .system-widget-cpu &__icon {
    margin-top: $m * 2;
  }

  .system-widget-memory &__bar,
  .system-widget-memory &__icon {
    color: $red-400;
  }

  .system-widget-disk &__bar,
  .system-widget-disk &__icon {
    color: $red-300;
  }

  .system-widget-disk &__icon {
    margin-top: $m * 2;
    margin-right: $m * 2;
  }
}

.network {
  @include widget-row;

  &__down {
    margin-right: $m * 3;
  }

  &__icon {
    font-family: $awesome;
    margin-right: $m * 2;
    margin-top: -3px;
  }

  &__down &__icon {
    color: $green;
  }

  &__up &__icon {
    color: $blue;
  }
}

.language {
  @include widget-icon;
  border: 5px solid $background;

  &--jap {
    border: 5px solid $red;
  }

  &--cze {
    border: 5px solid $blue;
  }

  &__image {
    padding-right: $m;
  }

  &__label {
    margin-left: $m * 3;
  }
}

.clock {
  @include widget-row;

  &__sep {
    font-size: $font-size * 1.2;
    margin: 0px $m 1px;
    color: $gray;
  }

  &__time,
  &__minute {
    font-size: $font-size-lg * 1.5;
  }

  &__time {
    font-weight: bold;
  }

  &__date {
    font-size: $font-size-lg;
    margin-left: $m * 4;
    color: $light-pink;
  }
}
