.separator {
  margin: 0 $m;

  &__text {
    color: $border-color;
    font-weight: bold;
    font-size: $bar-icon-size-lg;
  }
}

.w-control {
  margin-left: $m * 3;
  padding-right: $m * 3;

  &__icon {
    font-family: $awesome;
    font-size: $bar-icon-size;
    color: $light-pink;
  }

  &__inner {
    margin-left: $m * 3;
  }

  &__button {
    margin: 0 $m;

    &:hover {
      color: $light-pink;
    }
  }
}

.workspace {
  font-size: $bar-icon-size-lg;
  font-weight: normal;
  margin-left: $m * 3;
  background-color: $background;

  &__button {
    margin-right: $m * 2;
    color: $border-color;

    &--occupied {
      color: rgba($blue, 0.6);
    }

    &--focused {
      color: $blue;
    }
  }
}

.volume {
  &__icon {
    font-family: $awesome;
    font-size: $bar-icon-size * 0.95;
    margin: 0px $m;
    color: $blue-faint;
  }

  &__bar trough highlight {
    background: $blue;
    border-radius: 10px;
  }
}

.bluetooth {
  &__icon {
    font-family: $awesome;
    font-size: $bar-icon-size;
    color: $blue-bt;
    margin: 0px $m * 2;
  }
}

.system-widget {
  &__circle {
    background-color: $background;
    border-radius: 15px;
    margin: 0 $m * 2;
  }

  &__bar {
    background-color: $bar-color;
    border-radius: 10px;
  }

  &__icon {
    font-size: $bar-icon-size * 0.65;
    margin: $m * 2;
  }

  .system-widget-cpu &__bar,
  .system-widget-cpu &__icon {
    color: $red-500;
  }

  .system-widget-cpu &__icon {
    margin-top: $m * 2;
  }

  .system-widget-memory &__bar,
  .system-widget-memory &__icon {
    color: $red-400;
  }

  .system-widget-disk &__bar,
  .system-widget-disk &__icon {
    color: $red-300;
  }

  .system-widget-disk &__icon {
    margin-top: $m * 2;
    margin-right: $m * 2;
  }
}

.network {
  margin-right: $m * 2 * 0.7;
  margin-left: $m * 2;

  &__down {
    margin-right: $m * 3;
  }

  &__icon {
    font-family: $awesome;
    margin-right: $m * 2;
    margin-top: -3px;
  }

  &__down &__icon {
    color: $green;
  }

  &__up &__icon {
    color: $blue;
  }
}

.language {
  margin-right: $m * 3;
  margin-left: $m * 3;
  padding: 6px 13px 8px;
  background-color: $bg1;
  border-radius: 5px;
  border: 2px solid $bg1;

  &--jap {
    border: 2px solid $red;
  }

  &--cze {
    border: 2px solid $blue;
  }

  &__label {
    margin-left: $m * 3;
  }
}

.clock {
  margin-left: $m * 3;
  margin-right: $m * 3;

  &__sep {
    font-size: $font-size * 1.2;
    margin: 0px $m 1px;
    color: $gray;
  }

  &__time,
  &__minute {
    font-size: $font-size-lg * 1.5;
  }

  &__time {
    font-weight: bold;
  }

  &__date {
    font-size: $font-size-lg;
    margin-left: $m * 4;
    color: $light-pink;
  }
}
