* {
  all: unset;
}

calendar {
  color: $fg;

  &.header {
    color: $fg;
    font-weight: bold;
  }

  &.button {
    color: $light-pink;
  }

  &.highlight {
    color: $blue;
    font-weight: bold;
  }

  &:indeterminate {
    color: $gray;
  }

  &:selected {
    color: $blue;
  }
}

tooltip {
  &.background {
    background-color: $background;
    font-size: $font-size-lg;
    border-radius: 10px;
    color: $fg;
  }

  label {
    padding: $m * 0.9 $m;
  }
}

scale trough {
  all: unset;
  background-color: $background;
  box-shadow: 0 2px 3px 2px darken($background, 15%);
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin-right: $m * 2;
}
